.actionbtns{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px auto;
}
.upload{
    font-size: .7em;
}
.analyze{
    background-color: aqua;
    padding: 7px 10px;   
    border-radius: 5px;
    cursor: pointer;
}
.export{
    background-color: greenyellow;
    padding: 7px 10px;   
    border-radius: 5px;
    cursor: pointer;
}
.datatable{
    /* background: white; */
    display: block;
    width: 90%;
    overflow: auto;
    margin: 20px auto;
}
td, th{
    position: relative;
    padding: 10px 20px;
    border: solid black 1px;
}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.green{
    color: rgb(16, 186, 53)
}
.viewcov{
    display: flex;
    background: blue;
    width: 100%;
    position: relative;
}
.viewtag{
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: .8em;
    cursor: pointer;
}

.viewinfo{
    position: fixed;
    display: block;
    top:50%;
    left:50%;
    height: 80vh;
    width: 300px;
    transform: translate(-50%,-50%);
    background: white;
    padding: 20px 50px;
    border-radius: 10px;
    z-index: 7;
}
.abspres{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom:20px ;
}
.abspres > div{
    cursor: pointer;
    margin-top: 20px;
}
.infoheader{
    width: fit-content;
    margin: 10px auto;
    font-weight: bold;
}
.infoName{
    width: fit-content;
    margin: 10px auto;
}
.info{
    margin-top: 20px;
    overflow: auto;
    height: 70%;
}
.info > div{
    padding: 10px;
    margin: auto 10px;
    border-bottom: solid black 1px;
}
.close{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 1.8em;
    cursor: pointer;
}
.dtflt{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 10px;
    background: rgb(155, 155, 167, 0.8);
}
.fltbx{
    width: 30%;
    text-align: center;
    background: white;
    border-radius: 10px;
    margin: auto;
}
.flttle{
    font-size: .8em;
    background: grey;
    color: white;
    padding: 5px;
}
.fltctnt{
    padding: 10px;
    font-size: .9em;
    background: whitesmoke;
}
.hlcv{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    text-align: center;
    overflow: auto;
}
.xcards{
    position: absolute;
    left:-7px;
    top: -7px;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    transform: opacity .5s ease-in;
}
.holiday{
    position: relative;
    margin: 5px auto;
    display: block;
    background: ghostwhite;
    padding: auto 10px;
    width: 70px;
}
.holiday:hover > .xcards{
    opacity: 1;
}
.empfilter{
    position: relative;
    margin: 5px auto;
    display: block;
    background: ghostwhite;
    padding: auto;
    width: 100px;
    height: fit-content;
}
.empfilter:hover > .xcards{
    opacity: 1;
}
.selector{
    cursor: pointer;
}
.hlvl{
    font-size: .9em;
}
.hldesc{
    font-size: .7em;
    margin: 2px auto;
}
.fltinp{
    width: 100%;
    display: flex;
    margin: 10px auto;
    text-align: center;
}
.dtinp{
    width: 30%;
    height: 25px;
    margin: auto;
    font-size: .8em;
    text-indent: 3px;
}
.empinp{
    width: 60%;
}
.addflt{
    margin: auto;
    background: rgb(121, 121, 204);
    color: white;
    padding: 5px 20px;
    font-size: .9em;
    border-radius: 5px;
    cursor: pointer;
}

