.actionbtns{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px auto;
}
.analyze{
    background-color: aqua;
    padding: 7px 10px;   
    border-radius: 5px;
    cursor: pointer;
}
.export{
    background-color: greenyellow;
    padding: 7px 10px;   
    border-radius: 5px;
    cursor: pointer;
}
.datatable{
    /* background: white; */
    width: 100%;
    overflow: auto;
    margin: auto;
}
td, th{
    position: relative;
    padding: 10px 20px;
    border: solid black 1px;
}
.red{
    color: red;
}
.bold{
    font-weight: bold;
}
.green{
    color: rgb(16, 186, 53)
}
.viewcov{
    display: flex;
    background: blue;
    width: 100%;
    position: relative;
}
.viewtag{
    position: absolute;
    right: 5px;
    bottom: 2px;
    font-size: .8em;
    cursor: pointer;
}

.viewinfo{
    position: fixed;
    display: block;
    top:50%;
    left:50%;
    height: 80vh;
    width: 300px;
    transform: translate(-50%,-50%);
    background: white;
    padding: 20px 50px;
    border-radius: 10px;
    z-index: 7;
}
.abspres{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom:20px ;
}
.abspres > div{
    cursor: pointer;
    margin-top: 20px;
}
.infoheader{
    width: fit-content;
    margin: 10px auto;
    font-weight: bold;
}
.infoName{
    width: fit-content;
    margin: 10px auto;
}
.info{
    margin-top: 20px;
    overflow: auto;
    height: 70%;
}
.info > div{
    padding: 10px;
    margin: auto 10px;
    border-bottom: solid black 1px;
}
.close{
    position: absolute;
    top:10px;
    right:10px;
    font-size: 1.8em;
    cursor: pointer;
}