.sales{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.saleslist{
    width: 35%;
}
.salesview{
    width: 63%;
}
.slrepicon{
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
.allslrepicon{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.5em;
    cursor: pointer;
}
.sldets{
    width: 95%;
    font-size: .9em;
}
.salesfm{
    width: 90%;
    height: 75%;
    margin: auto;
    margin-top: 10px;
    overflow: auto;
}
.salesopts{
    display: flex;
    width: 90%;
    justify-content: space-around;
    cursor: pointer;
}
.slopts{
    font-weight: bold;
    border-bottom: solid greenyellow 2px;
}
.salesunit{
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: whitesmoke;
    margin: 10px auto;
}
.salesunittag{
    width: 100%;
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}
.viewsales{
    cursor: pointer;
}
.addnewsales{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.addnewrecovery{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    margin-bottom: 0px;
}
.addempsales{
    width: fit-content;
    margin: auto;
    background: greenyellow;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 7px;
    font-weight: bold;
}
.empsalesblk{
    position: relative;
    border: solid black 2px;
    margin: 50px auto;
}
.recoveryblk{
    width: 95%;
    margin: 10px auto;
    display: inline-flex;
    flex-wrap: wrap;
    border: solid black 1px;
    border-radius: 10px;
    position: relative;
}
.pdsalesview{
    position: absolute;
    width: fit-content;
    font-size: .9em;
    top: -30px;
    left: -2px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: solid black 1px;
}
.empsalesttl{
    width: 100%;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
}
.salesdelete{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
    color: red;
    cursor: pointer;
}
.recoverydelete{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5em;
    color: red;
    cursor: pointer;
}
.slsadd{
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 10px;
    background: greenyellow;
    color: black;
    font-size: 3em;
    border-radius: 50%;
    cursor: pointer;
}
.salesyesbtn{
    height: fit-content ;
    margin: auto 10px;
}
.salesinpcov{
    margin: 0px;
}

